<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="o.dh.mall_publisher.mapper.OrderMapper">
    <select id="getOrderAmount" resultType="java.lang.Double">
        select sum(total_amount) as totoal_amount from mall_order_info where create_date=#{date}
    </select>

    <select id="getOrderHourAmount" resultMap="hourMap">
        select create_hour, sum(total_amount) total_amount
        from mall_order_info where create_date = #{date} group by create_hour
    </select>

    <!--在application.properties中加下划线转驼峰配置，就可自动转换-->
    <resultMap id="hourMap" type="o.dh.mall_publisher.bean.OrderHourAmount" autoMapping="true">
        <!--可自定义列名格式，比如：原表字段名为：TOTAL_AMOUNT，导入后改成sumOrderAmount-->
        <result column="TOTAL_AMOUNT" property="sumOrderAmount"/>
    </resultMap>
</mapper>